{%extends 'starter-page.html' %}

{%load static %}

{% block content %}

<h1 class="text text-center">Received Patients</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores id iure quos veritatis enim error architecto repellat accusantium, porro, excepturi nemo laborum, consectetur laudantium animi atque ratione perferendis temporibus earum?
Voluptatem non, accusamus numquam, dolor praesentium tempora, sit suscipit corrupti consequuntur illum doloremque assumenda in deleniti. Porro fugiat recusandae aperiam dolores, assumenda voluptatem ratione, odio sapiente delectus magnam numquam sunt!
Delectus aperiam nobis nesciunt id quod molestiae minima ab iste ipsum, cum sint, veniam, repellat commodi. Fugiat autem, sit molestiae sequi quibusdam dignissimos sed voluptatum accusamus blanditiis a eum distinctio.</p>

<table class="table table-danger">
<tr></tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Dob</th>
    <th>datetime</th>
    <th>Medical history</th>
    <th>Age</th>
    <td>
            <a href="" class="btn btn-sm btn-primary">Edit</a>

            <a href="/delete" class="btn btn-sm btn-danger">Delete</a>
    </td>

</tr>
{%for allpatients in allpatients %}

<tr>
    <td>{{ allpatients.name }}</td>
    <td>{{ allpatients.email }}</td>
    <td>{{ allpatients.phone }}</td>
    <td>{{ allpatients.dob }}</td>
    <td>{{ allpatients.datetime }}</td>
    <td>{{ allpatients.medical_history }}</td>
    <td>{{ allpatients.age }}</td>
</tr>

{% endfor %}



</table>
{%for message in messages%}
         
        <p class = "alert alert-warning">{{ message }}</p>

{% endfor %}




{%endblock%}